<header class="site-header">

  <div class="container">     
    <div class="row">
        <div class="col-sm-6 col-xs-12">       
            <h2><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h2>     
        </div>
        <div class="col-sm-6 col-xs-12">                
            <a href="/about"><img class="header-first-row-height signature" src="/images/signature.jpg" alt="by David Stephens"></a>    
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="number-color-strip full-width"></div>
        </div>
    </div>
  </div>
    
</header>
