.no-select {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    cursor: "default";    
}

// Header styles ----------------------------------------------
.site-title {
    letter-spacing: -1px;
    color: $gray-dark;
}

// To match the settings for H1
.header-first-row-height {
    height: $font-size-h2;
    line-height: $headings-line-height;
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed / 2;
}

.signature {
    vertical-align: middle;
    padding-right: 21px;
    
    // On mobile:
    float: left;
    margin-top: 0px;
    // Everywhere else:
    @media (min-width: $screen-sm-min) {
        float: right;
        margin-top: $line-height-computed;
    }
}

.number-color-strip {
    height: 40px;
    width: 100%;
    cursor: default;
    display: inline-block;
}

.digit {
    float: left;
    text-align: left;
    font-family: $headings-font-family;
    font-size: 32px;
    font-weight: 900;    
}

// Colors defined in the Bootstrap variables file
.zero-color {
    color: $zero-color;
}

.one-color {
    color: $one-color;
}

.two-color {
    color: $two-color;
}

.three-color {
    color: $three-color;
}

.four-color {
    color: $four-color;
}

.five-color {
    color: $five-color;
}

.six-color {
    color: $six-color;
}

.seven-color {
    color: $seven-color;
}

.eight-color {
    color: $eight-color;
}

.nine-color {
    color: $nine-color;
}

// Footer styles ----------------------------------------------
.site-footer {
    margin-top: 20px;
    font-family: $font-family-sans-serif;
}

// About styles ----------------------------------------------
.portrait-photo {
    $image-width: 300px;
    max-width: $image-width;
    $image-radius: 120px;
    -webkit-clip-path: circle($image-radius at center);
    clip-path: circle($image-radius at center);
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}